body {
    background-image: url(images/bg.jpg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
}

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.direction_left {
    transform: scaleX(1);
}

.direction_right {
    transform: scaleX(-1);
}

.panel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.lives {
    float: left;
}

.chronometer {
    float: left;
    font-size: 20px;
    font-weight: bold;
}